body{
    background: #f7f7f7;
    font-family: Verdana;
}
a{
    text-decoration:underline;
    color: #505050;
}
.photo{
    border: 3px solid #505050;
    border-radius: 50%;
    width: 125px;
}
#title , .subtitle , .post_title {
    color : #505050;
}
#title{
    font-size: 50px;
    text-transform: uppercase;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #575757;
    margin-bottom: 15px;
    border-radius: 10px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
}
.post_image{
    margin-bottom: 15px;
    width: 600px;
}