body{
    background: #c4c8c5;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
a{
    text-decoration:underline;
    color: #505050;
}
.head{
    background: #459a96;
    display: flex;
    height: 150px;
}
.photo{
    border: 3px solid #484450;
    border-radius: 50%;
    width: 120px;
    max-height: 120px;
    margin-top: 15px;
    margin-left: 15px;
}
.subtitle{
    color : #466067;;
}
#title{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    margin-left: 50px;
    line-height: 150px;
    color: #fff;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    color: #fff;
}
.post{
    background: #466067;
    padding: 15px;
    border: 3px solid #575757;
    margin-bottom: 15px;
    border-radius: 10px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    color: #fff;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}
.foot{
    background: #459a96;
    padding: 15px;
    display: flex;
    flex-direction: column;

}
.foot_title{
    margin:0px;
    color: #fff;
}
.post_content a{
    color: #FFF;
}
.contact_list{
    list-style-type: none;
    padding: 0;
    padding-left: 15px; 
    margin-left: 50px;
}
.row{
    display: flex;
}
.row li{
    margin-top: 20px;
    font-size: 25px;
}
.row-rigth{
display: flex;
flex-direction: column;
margin-left: 200px;
}

.contact_list li a {
    text-decoration: none;
    color: #FFF;
}
.email{
    list-style-image: url(img/email.png);
}
.linkedin{
    list-style-image: url(img/linkedin.png);
}
.instagram{
    list-style-image: url(img/instagram.png);
}
.github{
    list-style-image: url(img/github.png);
}